<div class="ui center aligned container" style="background-color: black; position: fixed;">
    <div class="ui stackable inverted divided grid">

        <div class="ui inverted section divider"></div>

        <div class="ui small image">
            <img src="" alt="100% " width="100%; ">
        </div>

        <div class="ui horizontal inverted small divided link list ">
            <a class="item " href="# ">Site Map</a>
            <a class="item " href="# ">Contact Us</a>
            <a class="item " href="# ">Terms and Conditions</a>
            <a class="item " href="# ">Privacy Policy</a>
        </div>
    </div>
</div>